
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #262626;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 13px !important;
  }
  
  li a:hover:not(.active) {
    color: #262626;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
  }
  
  .logocss {
    width:42px; border-radius: 50%; position: absolute; margin-top: 4px; margin-left: 4px;
  }
  
  .barname {
    color:#262626; font-weight:bold; padding: 9px; margin-left: 45px; margin-top: 6px; margin-right: 33%;
  }
  
  .navshade {
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
  }