.ucsd {
  width: 100%;
  filter: contrast(1);
  filter: brightness(90%);
}

.sanmateo {
  width:40%; position: absolute; margin-top: 18px; border-radius: 15px; box-shadow: 0 3px 10px rgb(0 0 0 / 50%); margin-left: 40px;
}









.parentClass {
  position: relative;
  background: rgb(255, 255, 255);
}
  
.childClass {
  top: 0;
  left: 0;
  height: 99%;
  position: absolute;
  
}

.child1 {
  left: 0;
  width: 100%;
}
  
.child2 {
  width: 100%;
  margin-top: -250px;
  opacity: 1;
  background: rgba(92, 92, 92, 0);
}




#rcorners2 {
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
  height: 0%;
  margin-left: 20px;
  margin-top: 20px;
  width: 86%;
  font-size: 50px;
  font-weight: bold;
}

.container > * {
  display: inline-block;
}





.aboutme {
  font-size: 16px;
  font-weight: normal;
  margin-left: -10px;
  margin-top: -15px;
  line-height: 1.4;
  margin-bottom: -10px;
  padding: 15px 10px;
}



.apptit {
  font-weight: bold;
  padding: 0 75px;
  margin-bottom: 20%;
  margin-top: 20%;
  font-size: 70px;
  text-align: center;
  color: #ffffff;
}